h3{
	color: #0767A4;
	text-align: center;
}
input[type='text']:not(.browser-default):focus:not([readonly]) + label, textarea:not(.browser-default):focus:not([readonly]) + label{
	color: #0767A4;
}
input[type='text'].valid:not(.browser-default),textarea.valid:not(.browser-default){
	border-bottom: 1px solid #0767A4; 
	box-shadow: 0 1px 0 0 #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]),textarea:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #0767A4;
	box-shadow: 0 1px 0 0 #0767A4;
}
.submit-buttons{
	text-align: center;
}
.btn{
	background-color: #0693BE; 
}
.btn:hover{ 
	background-color: #14C9D2;
}