/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/
/*Body Styling*/
main{
	flex: 1 0 auto;
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;
	background: white;
	font-family: 'Roboto';
}
.error-body{
	margin-top: 75px;
	text-align: center;
	color: #0767A4;
}
h3{
	margin-top: 50px;
}