/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/
/*Body Styling*/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;
	background: white;
	font-family: 'Roboto';
}
main{
	flex: 1 0 auto;
}
.title{
	text-align: center;
	color: #0767A4;	
}
.card .card-content .card-title{
	text-align: center;
	color: #0767A4;	
	font-weight: 400;
}
.card .card.content p{
	text-align: justify;
}