
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer{
	color: white;
    background-color: #003E5E;
		
}
.footer-info p{
	text-align: justify;
}
.footer-info li span{
	margin-right: 10px;
}
.social-media{
	text-align: center;
	margin-bottom: 0;
}
.social-media a{
	margin-right: 15px;
}
.footer-copyright{
	margin: 0;
}
