body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;
	background: white;
	font-family: 'Roboto';
}
main{
	flex: 1 0 auto;
}
#problem-title, .subtitle{
    text-align: center;
	color: #0767A4;
}
#problem-area{
    text-align: center; 
}
#theory-text p{
    text-align: justify;
}
.exercise-title{
    margin-left: 20px;
}
.collection-item{
    text-align: justify;
}
.pagination-buttons{
    text-align: center;
    margin-bottom: 40px;
}
.pagination-buttons li{
    display: inline-block;
    margin: 0px 10px;
}
#related-problems-btn{
    color: white;
}
.btn{
    background-color: #0693BE;
}
.btn:hover{ 
	background-color: #14C9D2;
}