body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;
	background: white;
	font-family: 'Roboto';
	color: black;
}
main{
	flex: 1 0 auto;
}
h1{/*Bienvenido {{username}}*/
	color: #0767A4;
}
a{
	color: #0767A4;
	margin: 0;
}
.buttons{
	margin-bottom: 30px;
}
.btn{
	margin-top: 10px;
	background-color: #0693BE;
	color: white;
	text-align: center;
}
.btn:hover{
	background-color: #0767A4;
	color: white;
	text-decoration: none;
}
.card{
	background-color: white;
}
.card .card-content span.card-title {
	color: #0767A4;
	margin-top: 12.3px;
	margin-bottom: 12.3px;
	font-size: 30px;
	font-weight: 300;
}
.card .card-content p{
	text-align: justify;
	margin-top: 20px;
	/* margin: 10px 0px; */
}