.btn{
	background-color: #0693BE; 
}
.btn:hover{ 
	background-color: #14C9D2;
}
#raw-answer{
	padding: 0 0;
	margin-top: 10px;
}
h1, h5{
	text-align: center;
}
#problem-title{
	color: #0767A4;
}
#problem{
	text-align: justify;
}
#render{
	justify-content: center;
}