/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/
/*Body Styling*/
main{
	flex: 1 0 auto;
}
body{
	height: 100%;
	min-height: 100vh;
	background: white;
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;
}
/* Profile Section */
#profile-section{
    text-align: center;
}
/* Solved Problems Section */
.title{
	text-align: center;
	color: #0767A4;
}
.username{
	color: #0767A4;
	font-weight: 700;
}
#problems-section table th, #problems-section table td{
    text-align: center;
}
label{
	color: black;
}
	/* Inputs */
input[type='text']:not(.browser-default):focus:not([readonly]) + label, input[type='password']:not(.browser-default):focus:not([readonly]) + label{
	color: #0767A4;
}
input[type='text'].valid:not(.browser-default), input[type='password'].valid:not(.browser-default) {
	border-bottom: 1px solid #0767A4; 
	box-shadow: 0 1px 0 0 #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]), input[type='password']:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #0767A4;
	box-shadow: 0 1px 0 0 #0767A4;
}
.input-field label{
     color: black;
}
input[type="checkbox"].filled-in:not(:checked)+label:after, input[type="checkbox"].filled-in.tabbed:not(:checked)+label:after{
	border: 2px solid black;
}
input[type="checkbox"].filled-in:checked+label:after, input[type="checkbox"].filled-in.tabbed:checked+label:after{
     border: 2px solid #0767A4;
     background-color: #0767A4;
}
select{
	color: black;
	background-color: white;
}
	/* Buttons */
.buttons{
	margin-bottom: 30px;
}
.btn{ 
	margin-top: 10px;
	background-color: #003E5E;
	color: white;
}
.btn:hover, .btn:focus{ 
	background-color: #0767A4;
	color: white;
	text-decoration: none;
}
.hidden{
	display: none;
}