/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/
/*Body Styling*/
main{
	flex: 1 0 auto;
}
body{
	height: 100%;
	min-height: 100vh;
	background: white;
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;
}
#problems-title{
	text-align: center;
	color: #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]) + label{
	color: #0767A4;
}
input[type='text'].valid:not(.browser-default){
	border-bottom: 1px solid #0767A4; 
	box-shadow: 0 1px 0 0 #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #0767A4;
	box-shadow: 0 1px 0 0 #0767A4;
}
label{
	color: black;
}
.btn{
	background-color: #0693BE; 
}
.btn:hover{ 
	background-color: #14C9D2;
}
.search-button{
	margin-top: 1.5em;
}
.search-button i{
	font-size: 1em;
}
.input-field{
	display: inline-block;
	clear: both;
	float: none;
}
	/*Problems Table*/
.problems-table{
	margin: 20px auto;
	width: 100%;
}
th, td{
	border-radius: 0;
	text-align: center;
}
th{
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	padding: 10px 20px;
	background-color: #0767A4;
}
.problem-col{
	width: 40%;
	text-align: justify;
}
tr{
	background-color: white;
	transition: 0.3s linear;
}
tr:nth-child(2n){
	background-color: #C3DDDE;
}
tr:hover{
	background-color: #003E5E;
	color: white;
}
.pagination-buttons{
    text-align: center;
    margin-bottom: 40px;
}
.pagination-buttons li{
    display: inline-block;
    margin: 0px 10px;
}
#page-number{
	color: black;
}