
	<!-- Navigation Bar -->
	<header>
		<nav>
		    <div class="nav-wrapper">
		    	<div class="navigation-bar">
		    		<ul id="nav-mobile" class="left hide-on-med-and-down">
			      		<li class="logo">OMMBC</li>
				        <li><a href="">Inicio</a></li>
				        <li><a href="">Acerca de</a></li>
				        <li><a href="">Contacto</a></li>
				    </ul>
				    <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="#">Registrarse <i class="fas fa-user-plus fa-sm"></i></a></li>
				        <li><a href="#">Iniciar Sesión <i class="fas fa-user fa-sm"></i></a></li>
					</ul>
		    	</div>		      	
		    </div>
		</nav>
	</header>
	<!-- Ends Navigation Bar -->

	<!-- Body -->
	<main>
	    <div class="container error-body">
	    	<h1><i class="far fa-frown fa-lg"></i></h1>
	    	<h3>La página solicitada no se encuentra disponible o no existe.</h3>
	    </div>
	</main>
	<!-- Ends Body -->

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row footer-info">
				<div class="col l6 s12">
					<h5>OMMBC</h5>
					<p>La Olimpiada Mexicana de Matemáticas en Baja California difunde las matemáticas a través de concursos. Elige y entrena a los equipos para competencia nacional de la Olimpiada Mexicana de Matemáticas.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5>Contacto</h5>
					<ul>
						<li><span><i class="fas fa-envelope-square"></i></span> Correo: correoejemplo@algo.otracosa</li>
						<li><span><i class="fas fa-phone-square"></i></span> Teléfono: (664) 664-64-64</li>
						<li><span><i class="fab fa-facebook-square"></i></span> <a href="http://www.facebook.com/ommbaja/">OMMBaja</a></li>
						<li><span><i class="fab fa-google-plus-square"></i></span> Google +</li>
					</ul>
				</div>
			</div>

			<!-- <div class="row social-media">
				<a class="btn-floating btn waves-effect waves-light"><i class="fab fa-facebook-f"></i></a>
				<a class="btn-floating btn waves-effect waves-light"><i class="fab fa-google-plus-g"></i></a>
			</div> -->

			<div class="row footer-copyright">
				<div class="col s12">
					<p>© 2018 Copyright: OMMBC.org</p>
				</div>
			</div>    
		</div>			
	</footer>	
