
	<!-- Form -->

	<div class="container" id="login-form">
		<div class="row">
			<form class="col s12" >
				<!-- Header -->
				<div class="row">
					<a href="#"><img id="logo" src="views/assets/img/logo.png"></a>
				</div>		
				<!-- Inputs -->
				<div class="inputs">
					<div class="row">
						<div class="input-field col s8 offset-s2">
							<input id="username" name="username" type="text" class="validate" ng-model="username" >
							<label for="username">Usuario</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s8 offset-s2">
							<input id="password" type="password" name="password" class="validate" ng-model="password" >
							<label for="password">Contraseña</label>
						</div>
					</div>
					<div class="row">
						<div class="col s8 offset-s2">
							<input type="checkbox" class="filled-in" id="cbx-teacher" />
	      					<label class="label-cbx" for="cbx-teacher">Soy Maestro</label>

	      					<a href="#" id="forgot-password">¿Olvidaste tu contraseña?</a>
						</div>
					</div>	
				</div>
				<!-- Buttons -->
				<div class="buttons">
					<div class="row">
						<div class="input-field col s8 offset-s2">
							<a class="waves-effect waves-light btn" ng-click="changeview()">Iniciar</a>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s8 offset-s2">
							<a class="waves-effect waves-light btn" ng-click="changeview('signup')">¿No tienes cuenta?, Regístrate</a>
						</div>
					</div>
				</div>
					
			</form>
		</div>
	</div>
