<div class="body2">	
	<header>
		<nav>
		    <div class="nav-wrapper">
		    	<div class="navigation-bar">
		    		<ul id="nav-mobile" class="left hide-on-med-and-down">
			      		<li class="logo">OMMBC</li>
				        <li><a href="">Inicio</a></li>
				        <li><a href="">Acerca de</a></li>
				        <li><a href="">Contacto</a></li>
				    </ul>
				    <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="#">Registrarse <i class="fas fa-user-plus fa-sm"></i></a></li>
				        <li><a href="/logout">Logout <i class="fas fa-user fa-sm"></i></a></li>
					</ul>
		    	</div>		      	
		    </div>
		</nav>	
	</header>
	<!-- Ends Navigation Bar -->

	<!-- Body -->
	<main>
		<div class="container">
			<!-- Title -->
			<div class="row">
				<div class="col s12">
					<h1 id="problems-title">Búsqueda de Problemas</h1>
				</div>
			</div>
			<!-- Selectors -->
			<div class="row">
				<div class="col s12 m4">
					<label>Tema</label>
					<select class="browser-default">
						<option value="" disabled selected>Selecciona un tema</option>
						<option value="1">Opción 1</option>
						<option value="2">Opción 2</option>
						<option value="3">Opción 3</option>
					</select>
				</div>
				<div class="col s12 m4">
					<label>Categoria</label>
					<select class="browser-default">
						<option value="" disabled selected>Selecciona una categoria</option>
						<option value="1">Opción 1</option>
						<option value="2">Opción 2</option>
						<option value="3">Opción 3</option>
					</select>
				</div>
				<div class="col s12 m4">
					<label>Dificultad</label>
					<select class="browser-default">
						<option value="" disabled selected>Selecciona una dificultad</option>
						<option value="1">Opción 1</option>
						<option value="2">Opción 2</option>
						<option value="3">Opción 3</option>
					</select>
				</div>
			</div>
			<!-- Search Bar -->
			<div class="row">
				<div class="col s12">
					<div class="input-field inline col s4 offset-s4">
						<input id="search-input" type="text" class="validate">
						<label for="search-input">Buscar</label>
			        </div>
			        <div class="col s1">
						<a class="btn-floating btn waves-effect waves-light search-button"><i class="fas fa-search"></i></a>
			        </div>
				</div>			
			</div>
			<!-- Table -->
			<div class="row">
				<div class="col s12">
					<table class="problems-table">
						<thead>
							<tr>
						     	<th>Tema</th>
						     	<th>Categoria</th>
						     	<th>Problema</th>
						     	<th>Dificultad</th>
						     	<th>Numero de respuestas</th>
						    </tr>
						</thead>
						<tbody ng-repeat="problem in problemas">
						    <tr>
								<td>{{problem.tema}}</td>
								<!-- <td> {{problem.categoria}}</td> -->
								<td>{{problem.area }}</td>
								<td>{{problem.preguntra}}</td>
								<td>{{problem.nivel}}</td>
								<td>10,000 respuestas</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</main>
	<!-- Ends Body -->

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row footer-info">
				<div class="col l6 s12">
					<h5>OMMBC</h5>
					<p>La Olimpiada Mexicana de Matemáticas en Baja California difunde las matemáticas a través de concursos. Elige y entrena a los equipos para competencia nacional de la Olimpiada Mexicana de Matemáticas.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5>Contacto</h5>
					<ul>
						<li><span><i class="fas fa-envelope-square"></i></span> Correo: correoejemplo@algo.otracosa</li>
						<li><span><i class="fas fa-phone-square"></i></span> Teléfono: (664) 664-64-64</li>
						<li><span><i class="fab fa-facebook-square"></i></span> <a href="http://www.facebook.com/ommbaja/">OMMBaja</a></li>
						<li><span><i class="fab fa-google-plus-square"></i></span> Google +</li>
					</ul>
				</div>
			</div>

			<!-- <div class="row social-media">
				<a class="btn-floating btn waves-effect waves-light"><i class="fab fa-facebook-f"></i></a>
				<a class="btn-floating btn waves-effect waves-light"><i class="fab fa-google-plus-g"></i></a>
			</div> -->

			<div class="row footer-copyright">
				<div class="col s12">
					<p>© 2018 Copyright: OMMBC.org</p>
				</div>
			</div>    
		</div>			
	</footer>
</div>
	<!-- Ends Footer -->