	<div class="container" id="login-form" id="body">
		<div class="row">
			<form class="col s12">
				 
				<div class="row header-row">
					<a href="#"><img id="logo" src="views/assets/img/logo.png"></a>
				</div>
				 
				<div class="form-inputs">
					<div class="row">
						<div class="input-field col s4">
							<input id="name-input" name="username" type="text" class="validate">
							<label for="name-input">Nombre</label>
						</div>
			
						<div class="input-field col s4">
							<input id="first-lastname-input" name="apellidoP" type="text" class="validate">
							<label for="first-lastname-input">Apellido Paterno</label>
						</div>
						<div class="input-field col s4">
							<input id="second-lastname-input" name="apellidoM" type="text" class="validate">
							<label for="second-lastname-input">Apellido Materno</label>
						</div>
					</div>

					<div class="row">
						<div class="col s4">
							<label>País</label>
							<select class="browser-default" name="pais">
								<option value="" disabled selected>Selecciona un país</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
							</select>
						</div>
						<div class="col s4">
							<label>Estado</label>
							<select class="browser-default" name="estado">
								<option value="" disabled selected>Selecciona un Estado</option>
								<option value="1">Opción 1</option>
								<option value="2">Opción 2</option>
								<option value="3">Opción 3</option>
							</select>
						</div>
						<div class="input-field col s4">
							<input id="school-input" type="text" name="escuela"  class="validate">
							<label for="school-input">Escuela</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input id="email-input" name="correo" type="text" class="validate">
							<label for="email-input">Correo Electronico</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<input id="password-input" type="password" name="password" class="validate">
							<label for="password-input">Contraseña</label>
						</div>
						<div class="input-field col s6">
							<input id="checkPassword-input" type="password" name="password2" class="validate">
							<label for="checkPassword-input">Confirmar Contraseña</label>
						</div>
					</div>
				</div>

				
				<div class="buttons">
					<div class="row">
						<div class="col s12">
							<div class="input-field col s12">
						
								<a class="waves-effect waves-light btn" ng-click="changeview('problemas')" >Registrar</a>
							</div>
						</div>
					</div>
				</div>
					
			</form>
		</div>
	</div>