<!-- Header -->
<div ng-include="'views/headerAdmin.html'"></div>
<!-- Ends Header -->

<!-- Body -->
<main ng-controller="acceptTeachersController"><!--Change to appropriate controller-->
    <div class="container" >
      <div class="row">
        <div class="col s4" style="margin-top:40px;">
          <input type="text" ng-model="authID" placeholder="Inserte ID para autorizar" name="" value="">
          <button type="button" name="button" ng-click="auth()"  class="waves-effect waves-light btn">Autorizar</button>
        </div>
      </div>
      <table class="highlight problems-table">
          <thead>
              <tr>
                  <th>Email</th>
                  <th>Estado</th>
                  <th>ID</th>
              </tr>
          </thead>
          <tbody ng-repeat ="da in data">
              <tr>
                  <td>{{da.email}}</td>
                  <td>{{da.role}}</td>
                  <td>{{da._id}}</td>
              </tr>

              <!-- <tr ng-repeat="problem in problems | filter: levelSelec | filter: areaSelec | filter: topicSelec">
                                  <td ng-click="clicked(problem._id)">{{problem.area}}</td>
                                  <td ng-click="clicked(problem._id)">{{problem.tema}}</td>
                                  <td ng-click="clicked(problem._id)" class="problem-col">{{problem.pregunta}}</td>
                                  <td ng-click="clicked(problem._id)"> {{problem.nivel}}</td>
                              </tr> -->
          </tbody>
      </table>
    </div>


</main>
<script src="views/assets/js/problem.js"></script>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
