<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<!-- Body -->
<main>
    <div class="container">
        <h3>Agregar Problema</h3>
        <form action="">
            <!-- Area, topic and level -->
            <div class="row">
                <div class="input-field col s4">
                    <input id="area-input" ng-model="area" name="area" type="text" class="validate">
                    <label id="area-label" for="area-input">Area</label>
                </div>
                <div class="input-field col s4">
                    <input id="topic-input" ng-model="topic" name="topic" type="text" class="validate">
                    <label id="topic-label" for="topic-input">Tema</label>
                </div>
                <div class="input-field col s4">
                    <input id="level-input" ng-model="level" name="level" type="text" class="validate">
                    <label id="level-label" for="level-input">Nivel</label>
                </div>
            </div>
            <!-- Question/Problem -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="question-input" class="materialize-textarea" ng-model="problem"></textarea>
                    <label id="question-label" for="question-input">Pregunta</label>
                </div>
            </div>
            <!-- Image -->
            <div class="row">
                
            </div>
            <!-- Answer -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="answer-input" class="materialize-textarea" ng-model="solution"></textarea>
                    <label id="answer-label" for="answer-input">Solucion</label>
                </div>
            </div>

            <!-- Tip y Origen-->
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="tip-input" class="materialize-textarea" ng-model="tip"></textarea>
                    <label id="tip-label" for="tip-input">Tip</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="origin-input" class="materialize-textarea" ng-model="origin"></textarea>
                    <label id="origin-label" for="origin-input">Origen</label>
                </div>
            </div>
            <!-- Comentario -->
            <div class="row">
                <div class="input-field col s8">
                    <textarea id="comment-input" class="materialize-textarea" ng-model="comment"></textarea>
                    <label id="comment-label" for="comment-input">Comentario</label>
                </div>
                <div class="input-field col s4">
                    <textarea id="points-input" class="materialize-textarea" ng-model="points"></textarea>
                    <label id="points-label" for="points-input">Puntos</label>
                </div>
            </div>
            <!-- Back , Submit  buttons -->
            <div class="row submit-buttons">
                <div class="col s6">
                    <a class="waves-effect waves-light btn">Cancelar</a>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn">Agregar</a>
                </div>

            </div>
        </form>
    </div>
   
</main>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->