<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->

<!-- Body -->
<main>
	<div class="container error-body">
		<h1><i class="far fa-frown fa-lg"></i></h1>
		<h3>La página solicitada no se encuentra disponible o no existe.</h3>
	</div>
</main>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->