<!-- Header -->
<head>
    <div ng-include="'views/header.html'"></div>
</head>
<!-- Ends Header -->
<!-- Body -->
<main ng-controller="faqController">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="title">Preguntas Frecuentes</h1>
            </div>


            <div class="row">
                <div class="col l4 m6 s12">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">¿Cuando tendré acceso como profesor?</span>
                            <p>Una vez registrado, hay que esperar pacientemente a que el administrador le de acceso. Si esto demorá más de 3 días hábiles contacte a adrian.favela@cetys.mx</p>
                        </div>
                    </div>
                </div>

                <div class="col l4 m6 s12">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">¿Quién califica los problemas?</span>
                            <p>Los problemas pueden ser calificados por cualquier profesor autorizado por el administrador.</p>
                        </div>
                    </div>
                </div>

                <div class="col l4 m6 s12">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">¿Cómo debo contestar el problema?</span>
                            <p>La respuesta se debe hacer en formato latex dentro de los siguientes simbolor: '$'.Ejemplo:$x^2$</p>
                        </div>
                    </div>
                </div>

                
            </div>

        </div>
    </div>
</main>
<!-- Ends Body -->
<!-- Footer -->
<footer>
    <div ng-include="'views/footer.html'"></div>
</footer>
<!-- Ends Footer -->
