<head>
    <link rel="stylesheet" href="views/assets/css/footer.css">
</head>
<footer>
    <div class="container">
        <div class="row footer-info">
            <div class="col l6 s12">
                <h5>OMMBC</h5>
                <p>La Olimpiada Mexicana de Matemáticas en Baja California difunde las matemáticas a través de concursos. Elige
                    y entrena a los equipos para competencia nacional de la Olimpiada Mexicana de Matemáticas.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Contacto</h5>
                <ul>
                    <li>
                        <span>
                            <i class="fas fa-envelope-square"></i>
                        </span> Correo: correoejemplo@algo.otracosa</li>
                    <li>
                        <span>
                            <i class="fas fa-phone-square"></i>
                        </span> Teléfono: (664) 664-64-64</li>
                    <li>
                        <span>
                            <i class="fab fa-facebook-square"></i>
                        </span>
                        <a href="http://www.facebook.com/ommbaja/">OMMBaja</a>
                    </li>
                    <li>
                        <span>
                            <i class="fab fa-google-plus-square"></i>
                        </span> Google +</li>
                </ul>
            </div>
        </div>

        <div class="row footer-copyright">
            <div class="col s12">
                <p>© 2018 Copyright: OMMBC.org</p>
            </div>
        </div>
    </div>
</footer>
