<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\(','\)'],['\/','\/']],
                processClass: "latex"
            }
        });
    </script>
</head>
<!-- Body -->
<main >
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col s12">
                <h1 id="problem-title">{{problem.tema}}</h1>
                <h5 id="problem-area">{{problem.area}}</h5>
            </div>
        </div>
        <!-- Theory Section -->
        <div class="row">
            <div class="col s12" id="theory-text">
                <h5 class="subtitle">Contenido</h5>
                <!-- Here goes the theory -->
                <p class="latex">{{problem.contenido}}</p>
            </div>
        </div>
        <!-- Images section -->
        <div class="row">
            <div class="col s12">
                <!-- Image -->
            </div>
        </div>
        <!-- Exercises Section -->
        <div class="row">
            <div class="col s12" id="theory-text">
                <h5 class="subtitle">Ejercicios</h5>
                <!-- Here goes the theory -->
                <p class="latex">{{problem.ejercicios}}</p>
            </div>
        </div>
        <!-- Problems Section -->
        <div class="row">
            <div class="col s12" id="theory-text">
                <h5 class="subtitle">Problemas</h5>
                <!-- Here goes the theory -->
               <p class="latex">{{problem.adicionales}}</p>
            </div>
        </div>
        <!-- Next, Previous, and problems buttons -->
        <div class="pagination-buttons">
            <ul>
                <li id="previous-button">
                    <a class="btn-floating btn waves-effect waves-light">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn" id="related-problems-btn">Problemas Relacionados</a>
                </li>
                <li id="next-button">
                    <a class="btn-floating btn waves-effect waves-light">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
