<head>
	<link rel="stylesheet" href="views/assets/css/header.css">
</head>
<header ng-controller="mainController">
    <nav>
		<div class="nav-wrapper">
			<div class="navigation-bar">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li class="logo">OMMBC</li>

					<li><a ng-click="changeview('homeAdmin')">Inicio</a></li>
					<li><a ng-click="changeview('uploadTheory')">Teoría</a></li>
					<li><a ng-click="changeview('problems')">Problemas</a></li>
					<li><a ng-click="changeview('faq')">FAQ</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a ng-click="changeview('profile')" style="display: inline-flex"> {{user.nombre}} <i class="material-icons">account_circle</i></a></li>
					<li><a ng-click="logout()" style="display: inline-flex">Cerrar Sesión <i class="material-icons">exit_to_app</i></a></li>

				</ul>
			</div>
		</div>
	</nav>
</header>
<script src="views/assets/js/header.js"></script>
