<!-- Header -->
<head>
    <div ng-include="'views/header.html'"></div>
</head>
<!-- Ends Header -->
<!-- Body -->
<main>
	<div class="container">
		<!-- Title -->
        <div class="row">
                <h1 align="center">¡Bienvenido {{username}}!</h1>
        </div>
        <div class="row center-align">
            <img src="views/assets/img/logo.png" alt="OMMBC"></img>
        </div>
        <!--Ends Title-->

        <div class="row">
            <!-- Guided Learning Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Aprendizaje Guiado</span>
                        <p>Comienza aprendiendo de manera general temas de las diferentes áreas de las matemáticas.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn-large btn" ng-click="changeview('guidedLearning')">Comenzar Ahora</a>
                    </div>
                </div>
            </div>
            <!-- See Theory Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Aprendizaje Semi-Guiado</span>
                        <p>Enfócate en un área específica de las matemáticas para reforzar tus hábilidades en el área.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn-large btn" ng-click="changeview('guidedLearning')">Ver Teoría</a>
                    </div>
                 </div>
            </div>
            <!-- Solve Problems Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Aprendizaje Independiente</span>
                        <p>Resuelve problemas sobre cualquier área de tu interés con la finalidad de reforzar tus hábilidades.</p>
                    </div>
                    <div class="card-action center-align">
                         <a class="waves-effect waves-light btn-large btn" ng-click="changeview('problems')">Resolver Problemas</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>
<!-- Ends Body -->
<!-- Footer -->
<footer>
    <div ng-include="'views/footer.html'"></div>
</footer>
<!-- Ends Footer -->
