<!-- Header -->
<head>
    <div ng-include="'views/headerAdmin.html'"></div>
</head>
<!-- Ends Header -->
<!-- Body -->
<main ng-controller="homeAdminController">
	<div class="container">
		<!-- Title -->
        <div class="row">
                <h1 align="center">¡Bienvenido administrador!</h1>
        </div>
        <div class="row center-align">
            <img src="views/assets/img/logo.png" alt="OMMBC"></img>
        </div>
        <!--Ends Title-->

        <div class="row">
            <!-- Guided Learning Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Aceptar Maestros</span>
                        <p>Acepta maestros para que ellos puedan acceder al  perfil de maestro con opciones para revisar tareas.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn-large btn" ng-click="acceptTeachers()">Comenzar Ahora</a>
                    </div>
                </div>
            </div>
            <!-- See Theory Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Administrar Temario</span>
                        <p>Administra el orden en el que los principiantes van aprendiendo los diferentes temas en este portal.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="waves-effect waves-light btn-large btn" ng-click="changeview('uploadTheory')">Ver Teoría</a>
                    </div>
                 </div>
            </div>
            <!-- Solve Problems Card-->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-content black-text">
                        <span class="card-title center-align">Agregar Teoria</span>
                        <p>Agrega teoria y nuevos temas para que los estudiantes puedan seguir aprendiendo.</p>
                    </div>
                    <div class="card-action center-align">
                         <a class="waves-effect waves-light btn-large btn" ng-click="changeview('uploadTheory')">Agregar Teoria</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>
<!-- Ends Body -->
<!-- Footer -->
<footer>
    <div ng-include="'views/footer.html'"></div>
</footer>
<!-- Ends Footer -->
