<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processClass: "latex"
            }
        });
    </script>
</head>
<!-- Body -->
<main ng-controller="problemController"><!--Change to appropriate controller--> 
    <div class="container" >
        <!-- Title -->
        <div class="row">
            <div class="col s12">
                <h1 id="problem-title">{{problem.tema}}</h1>
                <h5>{{problem.area}}</h5>
            </div>
        </div>
        <!-- Problem Body -->
        <div class="row">
            <div class="col s12" id="latex">
                <p id="problem">{{problem.pregunta}}</p>
            </div>
        </div>
        <!--Edit & DElete Buttons-->
        <div class="row">
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn" style="background-color: orange;" ng-click="">Editar</a>
            </div>
            <div class="col s6  center-align">
                <a class="waves-effect waves-light btn" style="background-color: red;" ng-click="">Borrar</a>
            </div>
        </div>
        <!-- Back button -->
        <div class="row center-align">
            <div class="col s3 offset-s4 center-align">
                <a class="waves-effect waves-light btn" ng-click="changeview('problems')">Regresar</a>
            </div>
        </div>
    </div>
    

</main>
<script src="views/assets/js/problem.js"></script>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->