<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processClass: "latex"
            }
        });
    </script>
</head>
<!-- Body -->
<main ng-controller="problemController">
    <div class="container" >
        <!-- Title -->
        <div class="row">
            <div class="col s12">
                <h1 id="problem-title">{{problem.tema}}</h1>
                <h5>{{problem.area}}</h5>
            </div>
        </div>
        <!-- Problem Body -->
        <div class="row">
            <div class="col s12" id="latex">
                <p id="problem">{{problem.pregunta}}</p>
            </div>
        </div>
        <!-- Latex renderer -->
        <div class="row">
            <div class="col s6">
                <label for="raw-answer">Respuesta</label>
                <textarea id="raw-answer" ng-model="answer" class="materialize-textarea"></textarea>
            </div>
            <div id="rendered-answer" class="col s6">

            </div>
        </div>
        <!-- Back and Submit buttons -->
        <div class="row">
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn" ng-click="changeview('problems')">Regresar</a>
            </div>
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn" ng-click="upload()">Aceptar</a>
            </div>
        </div>
    </div>
</main>
<script src="views/assets/js/problem.js"></script>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
