<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processClass: "latex"
            }
        });
    </script>
</head>
<!-- Body -->
<main ng-controller="profileController">

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="title">Información Personal</h1>
            </div>
        </div>
        <!-- User Information -->
        <div class="row">
            <div class="col s4" id="profile-section">
                <!-- Profile Picture -->
                <div class="row">
                    <div class="col s12">
                        <img width="100" src="https://www.sonypark360.net/wp-content/uploads/2017/08/profile-pictures.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="username">{{user.nombre}}</span>
                    </div>
                    <div class="col s12">
                        <span class="username">{{user.apellidos.paterno}} {{user.apellidos.materno}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <span>Puntos adquiridos:</span>
                    </div>
                    <div class="col s6">
                        <span>0</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <span>Problemas resueltos</span>
                    </div>
                    <div class="col s6">
                        <span>0</span>
                    </div>
                </div>
            </div>

            <div class="col s8" >
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <!-- Name Input -->
                            <div class="input-field col s4">
                                <input disabled id="name-input" ng- ng-model="name" type="text" class="validate" value="{{user.nombre}}">
                                <label class="active" for="name-input">{{user.nombre}}</label>
                            </div>
                            <!-- First Last Name Input -->
                            <div class="input-field col s4">
                                <input disabled id="first-lastName-input" ng-model="apellidoP" type="text" class="validate" value="{{user.apellidos.paterno}}">
                                <label class="active" for="first-lastName-input">{{user.apellidos.paterno}}</label>
                            </div>
                            <!-- Second Last Name Input -->
                            <div class="input-field col s4">
                                <input disabled id="second-lastName-input" ng-model="apellidoM" type="text" class="validate" value="{{user.apellidos.materno}}">
                                <label class="active" for="second-lastName-input">{{user.apellidos.materno}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="row">
                            <!-- School Input -->
                            <div class="input-field col s6">
                                <input disabled id="school-input" ng-model="escuela" type="text" class="validate" value="{{user.escuela}}">
                                <label class="active" for="name-input">{{user.escuela}}</label>
                            </div>
                            <!-- Country Selector -->
                            <!-- <div class="input-field col s4">
                                <input disabled id="name-input" type="text" class="validate">
                                <label for="name-input">País de Residencia</label>
                            </div> -->
                            <!-- State Selector -->
                            <div class="input-field col s6">
                                <select class="browser-default">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label class="active" ></label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="row">
                            <div class="col s12 center-align">
                                <a class="waves-effect waves-light btn" id="btn-edit-profile">Editar Informacion</a>
                            </div>
                            <div class="col s6 center-align" style="display: none;">
                                <a class="waves-effect waves-light btn" id="btn-update" ng-click="updateProfile()">Aceptar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Solved Problems Table -->
        <div class="row">
            <div class="col s12" id="problems-section">
                <h1 class="title">Problemas Resueltos</h1>
                <table class="highlight problems-table">
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Tema</th>
                            <th>Problema</th>
                            <th>Dificultad</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="latex" ng-repeat ="problem in solvedProblems">
                        <tr>
                            <td>{{problem.area}}</td>
                            <td>{{problem.tema}}</td>
                            <td>{{problem.problema}}</td>
                            <td>{{problem.dificultad}}</td>
                            <td>{{problem.estado}}</td>
                        </tr>

                        <!-- <tr ng-repeat="problem in problems | filter: levelSelec | filter: areaSelec | filter: topicSelec">
                                            <td ng-click="clicked(problem._id)">{{problem.area}}</td>
                                            <td ng-click="clicked(problem._id)">{{problem.tema}}</td>
                                            <td ng-click="clicked(problem._id)" class="problem-col">{{problem.pregunta}}</td>
                                            <td ng-click="clicked(problem._id)"> {{problem.nivel}}</td>
                                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
<script src="views/assets/js/profile.js"></script>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
