<!-- Header -->
<div ng-include="'views/header.html'"></div>
<!-- Ends Header -->
<head>
	<!-- <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']]
			}
		});
	</script> -->
</head>
<!-- Body -->
<main>
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col s12">
				<h1 id="problems-title">Búsqueda de Problemas - Maestro</h1>
			</div>
		</div>
		<!-- Selectors -->
		<div class="row">
			<div class="col s12 m4">
				<label>Área</label>
				<select class="browser-default" id="area" ng-model="areaSelec">
					<option id="optiona" value="">Selecciona un área</option>
					<option  ng-repeat="problem in problems | unique: 'area'" value="{{problem.area}}">{{problem.area}}</option>
				</select>
			</div>
			<div class="col s12 m4">
				<label>Tema</label>
				<select class="browser-default" id="tema" ng-model="topicSelec" disabled>
					<option value="">Selecciona un tema</option>
					<option id="optiont" ng-repeat="problem in problems | unique: 'tema'" value="{{problem.tema}}">{{problem.tema}}</option>
				</select>
			</div>
			<div class="col s12 m4">
				<label>Dificultad</label>
				<select class="browser-default" id="dificultad" ng-model="levelSelec" disabled>
					<option value="">Selecciona una dificultad</option>
					<option id="optiond" ng-repeat="problem in problems | unique: 'nivel'" value="{{problem.nivel}}">{{problem.nivel}}</option>
				</select>
			</div>
		</div>
		<!-- Search Bar -->
		<div class="row">
			<div class="col s12">
				<div class="input-field inline col s4 offset-s4">
					<input id="search-input" type="text" class="validate">
					<label for="search-input">Buscar</label>
				</div>
				<div class="col s1">
					<a class="btn-floating btn waves-effect waves-light search-button" id="searchbtn"><i class="fas fa-search"></i></a>
				</div>
			</div>
		</div>
		<!--Add problem button-->
		<div class="col s6  center-align">
            <a class="waves-effect waves-light btn" id="addbtn" ng-click="addproblem()" >Agregar Problema</a>
        </div>
		<!-- Table -->
		<div class="row">
			<div class="col s12">
				<table class="problems-table">
					<thead>
						<tr>
							<th>Area</th>
							<th>Tema</th>
							<th>Problema</th>
							<th>Dificultad</th>
						</tr>
					</thead>
					<tbody id="latex">
						<tr ng-repeat="problem in problems | filter: levelSelec | filter: areaSelec | filter: topicSelec">
							<td ng-click="clicked(problem._id)">{{problem.area}}</td>
							<td ng-click="clicked(problem._id)">{{problem.tema}}</td>
							<td ng-click="clicked(problem._id)" class="problem-col">{{problem.pregunta}}</td>
							<td ng-click="clicked(problem._id)"> {{problem.nivel}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Previous and Next buttons -->
		<div class="pagination-buttons">
			<ul>
				<li id="previous-button">
					<a class="btn-floating btn waves-effect waves-light" ng-click="changePage('previous')" onclick="moveup()">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>
				<li ng-model="page">
					<a id="page-number">{{page}}</a>
				</li>
				<li id="next-button">
					<a class="btn-floating btn waves-effect waves-light" ng-click="changePage('next')" onclick="moveup()">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</main>
<script src="views/assets/js/search-problems-Teacher.js"></script>
<!-- <script src="views/assets/js/search-problems.js"></script> -->
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
