<div class="container" id="login-form" id="body">
	<div class="row">
		<form class="col s12">

			<div class="row header-row">
				<a href="#"><img id="logo" src="views/assets/img/logo.png"></a>
			</div>

			<div class="form-inputs">
				<div class="row">
					<div class="input-field col s4">
						<input id="name-input" ng-model="Nombre" name="username" type="text" class="validate" >
						<label for="name-input">Nombre</label>
					</div>

					<div class="input-field col s4">
						<input id="first-lastname-input" ng-model="Apellido_P" name="apellidoP" type="text" class="validate">
						<label for="first-lastname-input">Apellido Paterno</label>
					</div>
					<div class="input-field col s4">
						<input id="second-lastname-input" ng-model="Apellido_M" name="apellidoM" type="text" class="validate">
						<label for="second-lastname-input">Apellido Materno</label>
					</div>
				</div>

				<div class="row">
					<div class="col s6">
						<label>País</label>
						<select class="browser-default" ng-change="checkCountry()" name="pais" ng-model="Pais">
							<option value="" disabled selected>Selecciona un país</option>
							<option ng-repeat="country in countries" value="{{country.pais}}">{{country.pais}}</option>

						</select>
					</div>
					<div class="col s6" id="estados" style="display:none">
						<label>Estado</label>
						<select class="browser-default" name="estado" ng-model="Estado">
							<option value="" disabled selected>Selecciona un Estado</option>
							<option ng-repeat="estado in estados" value="{{estado.nombre}}">{{estado.nombre}}</option>

						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<input id="school-input" type="text" name="escuela" ng-model="Escuela" class="validate">
						<label for="school-input">Escuela</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<input id="email-input" name="correo" type="text" ng-model="email"  class="validate">
						<label for="email-input">Correo Electronico</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<input id="password-input" type="password" ng-model="password" name="password" class="validate">
						<label for="password-input">Contraseña</label>
					</div>
					<div class="input-field col s6">
						<input id="checkPassword-input" type="password" name="password2" class="validate">
						<label for="checkPassword-input">Confirmar Contraseña</label>
					</div>
				</div>

			</div>






			<div class="row">
				<div class="col s12">
					<input type="checkbox" ng-model="rol" class="filled-in" id="cbx-teacher" />
					<label class="label-cbx" for="cbx-teacher">Soy Maestro</label>
				</div>
			</div>


			<div class="buttons">
				<div class="row">
					<div class="col s12">
						<div class="input-field col s12">
							<!--<a class="waves-effect waves-light btn" ng-click="sendData('login')" >Registrar</a>-->
							<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="sendData('login')">Registrar</button>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
