<!-- Header -->
<div ng-include="'views/headerAdmin.html'"></div>
<!-- Ends Header -->
<head>

</head>
<!-- Body -->
<main ng-controller="uploadTheoryController">
    <div class="container" >
        <!-- Title -->
        <div class="row">
            <div class="col s12">
                <h1 id="problem-title">Teoria</h1>

            </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="first-lastname-input" ng-model="area" type="text" class="validate">
            <label for="first-lastname-input">Area</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="first-lastname-input" ng-model="tema" type="text" class="validate">
            <label for="first-lastname-input">Tema</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="first-lastname-input" ng-model="subtema" type="text" class="validate">
            <label for="first-lastname-input">Subtema</label>
          </div>
        </div>


        <div class="row">
            <div class="col s6">
                <label for="raw">Contenido</label>
                <textarea ng-model="raw" class="materialize-textarea"></textarea>
            </div>
            <div id="rendered-answer" class="col s6">

            </div>
        </div>

                <div class="row">
                    <div class="col s6">
                        <label for="raw">Problema</label>
                        <textarea ng-model="rawProblema" class="materialize-textarea"></textarea>
                    </div>
                    <div id="rendered-answer" class="col s6">

                    </div>
                </div>

                        <div class="row">
                            <div class="col s6">
                                <label for="raw">Ejercicios</label>
                                <textarea ng-model="rawEjercicios" class="materialize-textarea"></textarea>
                            </div>
                            <div id="rendered-answer" class="col s6">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <label for="raw">Indice Pro</label>
                                <textarea ng-model="pro" class="materialize-textarea"></textarea>
                            </div>
                        </div>

                                                <div class="row">
                                                    <div class="col s6">
                                                        <label for="raw">Indice Principiante</label>
                                                        <textarea ng-model="beg" class="materialize-textarea"></textarea>
                                                    </div>
                                                </div>


        <!-- Back and Submit buttons -->
        <div class="row">

            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn" ng-click="upload()">Aceptar</a>
            </div>
        </div>
    </div>
</main>
<script src="views/assets/js/problem.js"></script>
<!-- Ends Body -->

<!-- Footer -->
<div ng-include="'views/footer.html'"></div>
<!-- Ends Footer -->
