/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/

/*Navigation Bar Styling*/
.nav-wrapper{
	background-color: #003E5E;
}
.navigation-bar{
	margin: 0 5%;
}
.logo{
	font-size: 2.1em;
	margin-left: 50px;
	margin-right: 20px;
}
.right{
	margin-right: 50px;	
}
/*Body Styling*/
main{
	flex: 1 0 auto;
}
body{
	height: 100%;
	min-height: 100vh;
	background: white;
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;
}
.error-body{
	margin-top: 75px;
	text-align: center;
	color: #0767A4;
}
h3{
	margin-top: 50px;
}
/*Footer*/
footer{
	color: white;
    background-color: #003E5E;
}
.footer-info p{
	text-align: justify;
}
.footer-info li span{
	margin-right: 10px;
}
.social-media{
	text-align: center;
	margin-bottom: 0;
}
.social-media a{
	margin-right: 15px;
}
.footer-copyright{
	margin: 0;
}