
body{
	height: 100%;
	min-height: 100%;
	background: #C3DDDE;
	font-family: 'Roboto';
	color: black;
}	

#login-form{
	background-color: white;
	margin: 50px auto;
	text-align: center;
	width: 500px;
	border-radius: 25px;
}
.row{
	margin: 0.5em;
}
#logo{
	margin-top: 20px;
	max-width: 30%;
	max-height: 30%;
}
.inputs{
	margin: 0;
}
input[type='text']:not(.browser-default):focus:not([readonly]) + label, input[type='password']:not(.browser-default):focus:not([readonly]) + label{
	color: #0767A4;
}
input[type='text'].valid:not(.browser-default), input[type='password'].valid:not(.browser-default) {
	border-bottom: 1px solid #0767A4; 
	box-shadow: 0 1px 0 0 #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]), input[type='password']:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #0767A4;
	box-shadow: 0 1px 0 0 #0767A4;
}
.input-field label{
     color: black;
}
input[type='checkbox'].focuus{
	background-color: red;
}
input[type="checkbox"].filled-in:not(:checked)+label:after, input[type="checkbox"].filled-in.tabbed:not(:checked)+label:after{
	border: 2px solid black;
}
input[type="checkbox"].filled-in:checked+label:after, input[type="checkbox"].filled-in.tabbed:checked+label:after{
     border: 2px solid #0767A4;
     background-color: #0767A4;
}
.label-cbx{
	margin-top: 10px;
	float: left;
	color: black;
}
#forgot-password{
	margin-top: 10px;
	float: right;
}
a{
	color: #0767A4;
	margin: 0;
}
a:hover{
	text-decoration: underline;
}
.buttons{
	margin-bottom: 30px;
}
.btn{ 
	margin-top: 10px;
	background-color: #003E5E;
	color: white;
}
.btn:hover{ 
	background-color: #0767A4;
	color: white;
	text-decoration: none;
}
