/*
COLOR PALETTE (FROM DARKER TO LIGHTER)
	#003E5E
	#0767A4
	#0693BE
	#14C9D2
	#C3DDDE
*/

/*
FONTS
	 'Roboto'
*/
/*Body Styling*/
body{
	height: 100%;
	min-height: 100%;
	background: #C3DDDE;
	font-family: 'Roboto';
	color: black;
}
/* Form */
#login-form{
	background-color: white;
	margin: 50px auto;
	text-align: center;
	width: 500px;
	border-radius: 25px;
}
.row{
	margin: 0.5em;
}
#logo{
	margin-top: 20px;
	max-width: 30%;
	max-height: 30%;
}
.form-inputs{
	padding: 0px 25px;
}
label{
	color: black;
}
	/* Inputs */
input[type='text']:not(.browser-default):focus:not([readonly]) + label, input[type='password']:not(.browser-default):focus:not([readonly]) + label{
	color: #0767A4;
}
input[type='text'].valid:not(.browser-default), input[type='password'].valid:not(.browser-default) {
	border-bottom: 1px solid #0767A4; 
	box-shadow: 0 1px 0 0 #0767A4;
}
input[type='text']:not(.browser-default):focus:not([readonly]), input[type='password']:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #0767A4;
	box-shadow: 0 1px 0 0 #0767A4;
}
.input-field label{
     color: black;
}
	/* Selectors */
select{
	color: black;
	background-color: white;
}
	/* Buttons */
.buttons{
	margin-bottom: 30px;
}
.btn{ 
	margin-top: 10px;
	background-color: #003E5E;
	color: white;
}
.btn:hover{ 
	background-color: #0767A4;
	color: white;
	text-decoration: none;
}